<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLink}}
</head>
<body>
    {{>navbar}}
    <div class="row home mr-0">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-3">
                <div class="card-body">
                    <p class="title text-center">Forget Password Form</p>
                    <form action="/forget" method="POST">
                     <div class="form-group">
                        <label for="email">Enter Your Email :</label>
                         <input class="form-control" type="email" name="email" id="email" placeholder="Enter Your saved email :">
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success">
                            Submit
                        </button>
                        <button type="reset" class="btn btn-danger" onclick="cancel()">
                            Cancel
                        </button>
                    </div>
                    </form>
                </div>
            </div>
            </div>
        <div class="col-md-4"></div>
    </div>
    {{>footer}}
    {{>footerLink}}
</body>
</body>
</html>