<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLink}}
</head>
<body>
    {{>navbar}}
    <div class="text-center">
    <h1>Welcome To my Website !!</h1>
    </div>
    {{>footer}}
    {{>footerLink}}
</body>
</body>
</html>